@import "~bootstrap/scss/bootstrap";
// @import "node_modules/font-awesome/scss/font-awesome.scss";
$primary: rgb(40, 57, 99);
.logo-cont{
    height: 80px;
    img{
        height: 100%;
        width: 100%;
    }
}

a {
    color: inherit;
    text-decoration: none;
}

.__img-anonimo {
    height: 200px;
    width: 200px;
}

#sfondo-pay{
    background-color: $primary;
    height: calc(100vh - 75px);
    h3{color: white;}
    h5{color: white;
    }
    label{
        color: white;
        padding: 10px 0 10px 0;
        margin-right: 9px;
    }
    .procedi{color: rgb(97,160, 155);
        background-color: white;
        border: 2px solid rgb(97,160, 155);
        margin-top: 10px;
        margin-right: 15px;
        &:hover{
            color: white;
        background-color: rgb(97,160, 155);
        }
    }
    .annulla{
        color: rgb(187, 13, 13);
        background-color: white;
        border: 2px solid rgb(187, 13, 13);
        margin-top: 10px;
        &:hover{
            color: white;
        background-color: rgb(187, 13, 13) ;
        }
    }
}
.title{
    color: $primary;
    font-weight: bold;
}

label{
    color: $primary;
    font-weight: bold;
}

.form-control{
    border-color: $primary;
}

.btn{
    background-color: $primary;
    color: white;
}

.testo{
    color: $primary;
    font-weight: bold;
}

.btn.btn-dark{
    border-color: $primary;
}

.btn.btn-dark:hover{
    color: $primary;
    background-color: white;
}
.benvenuto {
    width: 100%;
    height: calc(100vh - 88px);
    color: white;
    background-color: rgb(41, 59, 99);
    .bd-cont {
        // font-weight: bold;
        font-size: 100px;
        padding-left: 7%;
    }
    .altro-cnt {
        font-size: 55px;
    }
}

.dashboard-cnt {
    height: 75vh;
    .aside-cnt {
        height: 100%;
        .dash-aside {
            height: 100%;
            width: 20%;
            color: white;
            background-color: $primary;
        }
        h1 {
            a {
                color: $primary;
                font-weight: bold;
                font-size: 1.3em;
            }
        }
    }
}
.sub-nav {
    height: 3.5em;
    background-color: $primary;
    color: white;
}
.main-sec{
    .jumbo-cont {
        height: 400px;
        img {
            height: 100%;
        }
    }
}
.show-cnt {
    background-color: $primary;
    color: white;
}

.edit-btn {
    color: rgb(98, 160, 155);
    background-color:white;
    border: 3px solid rgb(98, 160, 155);
    // font-weight: bold;
}

.edit-btn:hover {
    color:white;
    background-color:rgb(98, 160, 155);
}

.erase-btn {
    color: rgb(187, 13, 13);
    background-color:white;
    border: 3px solid rgb(187, 13, 13);
}

.erase-btn:hover {
    color: white;
    background-color:rgb(187, 13, 13);
    // border: 3px solid rgb(187, 13, 13);
}
.fine-pagamento-cnt {
    background-color: $primary;
    color: white;
    height: 40em;
    .blocco-due {
        a:hover {
            color: rgb(97, 160, 155);
        }
    }
}
