@import "~bootstrap/scss/bootstrap";
// @import "node_modules/font-awesome/scss/font-awesome.scss";

$primary: rgb(40, 57, 99);

a {
    color: inherit;
    text-decoration: none;
}

.__img-anonimo {
    height: 200px;
    width: 200px;
}

.title{
    color: $primary;
    font-weight: bold;
}

label{
    color: $primary;
    font-weight: bold;
}

.form-control{
    border-color: $primary;
}

.btn{
    background-color: $primary;
    color: white;
}

.testo{
    color: $primary;
    font-weight: bold;
}

.btn.btn-dark{
    border-color: $primary;
}

.btn.btn-dark:hover{
    color: $primary;
    background-color: white;
}